*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
text-align: center;
margin-top: 3%;
}

table{
  margin: 50px auto;
  width: 70vw;
  border-collapse: collapse;
  text-align: center;
}

th, td{
 padding-top: 5px;
 padding-bottom: 5px;
}

tr:nth-child(even){
  background-color: gray;
}

tr{
  background-color:black ;
  color: white;
}
th{
  color: white;
}
#container{
  margin-top: 6%;
  width: 60vw;
  height: 20vh;
margin-left: 20%;
background-color: white;
padding: 10px;
box-shadow: 0 0 10px 10px rgba(143, 137, 137, 0.555);
border-radius: 7px;
}
input{
  border: 1px solid gray;
  border-radius: 10px;
 padding: 7px;

}
button{
  display: block;
width: 50vw ;
margin-top: 2%;
border: none;
padding: 5px;
background-color: rgb(1, 66, 1);
color: white;
border-radius: 7px;
}
